[Desktop Entry]
Icon=/home/kenny/Downloads/jetbrains-toolbox-3.0.0.59313/bin/toolbox.svg
Exec=/home/kenny/Downloads/jetbrains-toolbox-3.0.0.59313/bin/jetbrains-toolbox --minimize
Version=1.0
Type=Application
Categories=Development
Name=JetBrains Toolbox
StartupWMClass=jetbrains-toolbox
Terminal=false
MimeType=x-scheme-handler/jetbrains;
X-GNOME-Autostart-enabled=true
StartupNotify=false
X-GNOME-Autostart-Delay=10
X-MATE-Autostart-Delay=10
X-KDE-autostart-after=panel
