# Ignore Typora cache, logs, backups, and drafts
Typora/.config/Typora/Cache/
Typora/.config/Typora/Code Cache/
Typora/.config/Typora/Cookies
Typora/.config/Typora/Cookies-journal
Typora/.config/Typora/Crashpad/
Typora/.config/Typora/DIPS
Typora/.config/Typora/DIPS-shm
Typora/.config/Typora/DIPS-wal
Typora/.config/Typora/DawnGraphiteCache/
Typora/.config/Typora/DawnWebGPUCache/
Typora/.config/Typora/GPUCache/
Typora/.config/Typora/Local Storage/
Typora/.config/Typora/Network Persistent State
Typora/.config/Typora/Session Storage/
Typora/.config/Typora/Shared Dictionary/
Typora/.config/Typora/SingletonCookie
Typora/.config/Typora/SingletonLock
Typora/.config/Typora/SingletonSocket
Typora/.config/Typora/TransportSecurity
Typora/.config/Typora/Trust Tokens
Typora/.config/Typora/Trust Tokens-journal
Typora/.config/Typora/backups/
Typora/.config/Typora/draftsRecover/
Typora/.config/Typora/history.data
Typora/.config/Typora/typora.log
Typora/.config/Typora/wDbBoo2oGB
Typora/.config/Typora/Preferences
