### open configs 
alias nnb='nvim ~/.aliases'
alias rlb='. ~/.bashrc && source ~/.bash_profile'

alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias grep='grep --color=auto'
alias h='history'

### apt 
alias ai='sudo apt-get install'
alias ar='sudo apt-get remove'
alias au='sudo apt-get update'
alias aug='sudo apt-get upgrade'


### files 
alias xa='xdg-open .'
alias du='du -h'
alias df='df -h'
alias l.='ls -d .* --color=auto'
alias ls='ls -F --color=auto'
alias cl='clear && ls'

### get secrets
alias pwgit=''

### Go
alias grm='go run main.go'

### network
alias wf='sudo iwconfig wlan0 power off'

### Docker
alias dstart='docker start'
alias dstop='docker stop'
alias drestart='docker restart'
alias dboot='docker start mongo1 redis1'

### Cursor 
alias opt='z ~/opt &&'
alias cursor='opt ./Cursor-2.0.69-x86_64.AppImage'
