# API Keys & Tokens
set -gx GEM_KEY xxx
set -gx GEM_KEY_TIER1 xxx
set -gx GOOGLE_GENERATIVE_AI_API_KEY $GEM_KEY
set -gx GEMINI_API_KEY $GEM_KEY
set -gx GOOGLE_API_KEY $GEM_KEY
set -gx GITHUB_PAT xxx
set -gx OPENAI_API_KEY xxx
